<!DOCTYPE HTML>
<html lang="ja">
{% block head %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Example{% endblock %}</title>
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

  {% block stylesheets %}
  {# Asseticで@BundleなCSSをcssrewriteにかけるとおかしなパスになる……バグ？
  {% stylesheets
      '@ExampleExampleBundle/Resources/public/vendor/bootstrap/css/bootstrap.min.css'
      '@ExampleExampleBundle/Resources/public/vendor/bootstrap/css/bootstrap-responsive.min.css'
  %}
  <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
  {% endstylesheets %}
  #}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/exampleexample/vendor/bootstrap/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/exampleexample/vendor/bootstrap/css/bootstrap-responsive.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/exampleexample/css/main.css') }}" />
  <style>
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  </style>
  {% endblock %}
  {% block pagestylesheets %}{% endblock %}

  {% javascripts
      '@ExampleExampleBundle/Resources/public/vendor/jquery/jquery-1.7.2.min.js'
      '@ExampleExampleBundle/Resources/public/vendor/bootstrap/js/bootstrap.min.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block pagejavascripts %}{% endblock %}

</head>
{% endblock %}
<body>
  {% block navbar %}
    {% include 'ExampleExampleBundle::default_navbar.html.twig' %}
  {% endblock %}

  {% block container %}
  <div class="container">
    {% block main %}{% endblock %}
  </div>
  {% endblock %}
</body>
</html>
