{% extends 'ExampleExampleBundle::default_layout.html.twig' %}
{% block title %}ユーザ登録確認{% endblock %}
{% block main %}
<h1>ユーザ登録確認</h1>

<table class="table table-bordered">
  <col span="1" style="width:16em"/>
  <tbody>
    <tr>
      <th>メールアドレス</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>名前</th>
      <td>{{ user.name }}</td>
    </tr>
    <tr>
      <th>性別</th>
      <td>{{ user.sex ? sexTypes[user.sex] : '指定なし' }}</td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td>{{ user.birthday ? user.birthday|date('Y年n月j日') : '指定なし' }}</td>
    </tr>
  </tbody>
</table>

<form action="{{ path('user_register_confirm' )}}" method="post" class="well form-horizontal">
  <div>
    <input type="submit" name="register" value="登録" class="btn btn-primary" />
    <input type="submit" name="back" value="戻る" class="btn" />
  </div>
</form>
{% endblock %}
