{% extends 'ExampleExampleBundle::default_layout.html.twig' %}
{% form_theme form 'ExampleExampleBundle::form_theme.html.twig' %}
{% block title %}ユーザ登録{% endblock %}
{% block main %}
<h1>ユーザ登録</h1>

<form action="{{ path('user_register_input' )}}" method="post" {{ form_enctype(form) }}class="well form-horizontal">
  {% if form.get('errors')|length > 0 %}
  <div class="alert alert-error">
    {{ form_errors(form) }}
  </div>
  {% endif %}

  {{ form_row(form.email) }}

  <div class="control-group">
    {{ form_label(form.password.first, null, {'attr': {'class': 'control-label'}}) }}
    <div class="controls radio-inline">
      {{ form_widget(form.password.first) }}
    </div>
  </div>

  <div class="control-group">
    {{ form_label(form.password.second, 'パスワード(確認)', {'attr': {'class': 'control-label'}}) }}
    <div class="controls radio-inline">
      {{ form_widget(form.password.second) }}
      {{ form_errors(form.password) }}
    </div>
  </div>

  {{ form_row(form.name) }}

  <div class="control-group">
    {{ form_label(form.sex, null, {'attr': {'class': 'control-label'}}) }}
    <div class="controls radio-inline">
      {{ form_widget(form.sex) }}
      {{ form_errors(form.sex) }}
    </div>
  </div>

  <div class="control-group">
    {{ form_label(form.birthday, null, {'attr': {'class': 'control-label'}}) }}
    <div class="controls">
      {# {{ form_widget(form.birthday) }} #}
      {{ form_widget(form.birthday.year, {'attr': {'class': 'input-mini'}}) }}/
      {{- form_widget(form.birthday.month, {'attr': {'class': 'input-mini'}}) }}/
      {{- form_widget(form.birthday.day, {'attr': {'class': 'input-mini'}}) }}
      {{ form_errors(form.birthday) }}
    </div>
  </div>

  {{ form_rest(form)}}

  <div class="form-actions">
    <input type="submit" value="登録確認" class="btn btn-primary" />
  </div>
</form>
{% endblock %}
